a:link { color:#444444;text-decoration:none} 
a:visited { color:#444444;text-decoration:none} 
a:hover { color:#FF0000; text-decoration:underline; } 
BODY{ FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; color: #000000; line-height: 150%; } 
.INPUT_index{ FONT-SIZE: 9pt; color: 3EC5E1; font-family: "宋体"; background-color: #EEFAFF; border: 1px solid #CCCCCC; padding: 1px; height: 18px; } 
.textarea_index{ background-color: #FFFFFF; font-family: "宋体"; font-size: 9pt; font-style: bold; color: #000000; border: 1px none #000000; line-height: 150% } 
.e { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 8pt; color: #000000; } 
a:visited.e{color: #444444; TEXT-DECORATION: none} 
a:hover.e{color: #CC0000; TEXT-DECORATION: underline overline}
a:link.e{color: #444444;text-decoration: none} 
TD { FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; color: #000000; line-height: 150%; } 
DIV { FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; color: #000000; line-height: 150%; } 
.white { font-family: "宋体"; font-size: 9pt; line-height: 150%; color: #FFFFFF; } 
a:hover.white { color: #CC0000; text-decoration: none; } 
a:link.white { color: #FFFFFF; text-decoration: none; } 
a:visited.white { color: #FFFFFF; text-decoration: none; } 
.greenfont { font-family: "宋体"; font-size: 9pt; line-height: 150%; color: 3C7A01; } 
.formf { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: dashed; border-right-style: dashed; border-bottom-style: dashed; border-left-style: dashed; border-top-color: #FFFFFF; border-right-color: #FFFFFF; border-bottom-color: #FFFFFF; border-left-color: #FFFFFF; font-family: "宋体"; font-size: 9pt; line-height: 150%; color: #999999; } 
.greyfont { font-family: "宋体"; font-size: 9pt; line-height: 150%; color: #666666; } 
.tdline { font: 9pt "宋体"; border-top: 0px solid; border-right: 1px solid; border-bottom: 3px solid; border-left: 1px solid; } 
.marquee_jobseeker_top { font-family: "宋体"; font-size: 9pt; line-height: 150%; color: #990000; width: 320px; } 
INPUT{ BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc; color: #000000; font-family: "宋体"; } 
textarea, select { font-family: "宋体"; font-size: 9pt; color: #000000; padding: 1px; }
.orange { font-family: "宋体"; font-size: 9pt; line-height: 150%; color: #FF6600; word-spacing: 1px; } 
a:link.orange { color: #444444; text-decoration: none } 
a:visited.orange { color: #666666; text-decoration: none; } 
a:hover.orange { color: #FF9900; text-decoration: none; } /* header 头部 */ 
.stress{ color:#CC5200; font-weight:normal; }
.inputa {BACKGROUND-COLOR: #B6E688; BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #a2a2a2 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #a2a2a2 1px solid; COLOR: #333333; FONT-SIZE: 9pt; HEIGHT: 19px;}
.inputb {BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM: #a2a2a2 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #a2a2a2 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #333333; FONT-SIZE: 9pt; HEIGHT: 19px;}
.table {
	border: 1px solid #CCCCCC;
	background-color: #F6F6F6;
}
