BODY {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
background-color:#ffffff;
	font-size: 12px;
	color: #111177;
}
a:link.bar { COLOR: #FFFFFF; font-size:14px;font-weight:900;letter-spacing:1px;}
a:visited.bar { COLOR: #FFFFFF; font-size:14px;font-weight:900;letter-spacing:1px;}
a:hover.bar { COLOR: #FFFF00; font-size:14px;font-weight:900;letter-spacing:1px;}

a:link.bar1 { COLOR: #FFFFFF; font-size:14px;font-weight:900;letter-spacing:1px;}
a:visited.bar1 { COLOR: #FFFFFF; font-size:14px;font-weight:900;letter-spacing:1px;}
a:hover.bar1 { COLOR: #FFFF00; font-size:14px;font-weight:900;letter-spacing:1px;}
a:link.nei { COLOR: #333333; TEXT-DECORATION: none; font-size:12px}
.tablest{ border:#99c2ec 1px solid;}
.tablest1{ border-style:none;}
.tablest2{ border-style:none; background-image:url(titlebg.png); height:32px;}
.tablest3{ border-style:none; background-image:url(titlebg3.png); writing-mode: tb-rl; text-align: center;}
.tablest4{background-color:#ECF5D3;}
.infoft0{margin-top:14px; margin-left:19px;font-size:14px;font-weight:bold;color:#332277;letter-spacing:1px;}
.infoft10{margin-top:2px; margin-left:14px;font-size:14px;font-weight:bold;color:#332277;letter-spacing:1px;}
select {
	font-size: 12px;
	SCROLLBAR-FACE-COLOR: #ededed;
	SCROLLBAR-HIGHLIGHT-COLOR: #fafafa;
	SCROLLBAR-SHADOW-COLOR: #bdbdbd;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #939393;
	SCROLLBAR-TRACK-COLOR: #f4f4f4;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

td {
font-size: 12px;
	line-height: 20px;
	color: #111177;
	text-decoration: none;
}
A{
	font-size: 12px;
	line-height: 20px;
	color: #111177;
	text-decoration: none;
}
A:hover {
	font-size: 12px;
	line-height: 20px;
	color: #ff0000;
	text-decoration: none;
}
A.cl {
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
}
A.cl:hover {
	font-size: 12px;
	line-height: 18px;
	color: #FFFF00;
	text-decoration: none;
}
A.a1  {
	font-size: 12px;
	line-height: 20px;
	color: #000077;
	text-decoration: none;
}
A.a1:hover {
	font-size: 12px;
	line-height: 18px;
	color: #FF0000;
	text-decoration: none;
}
A.a2 {
	font-size: 12px;
	color: #A5714A;
	text-decoration: none;
}
A.a2:hover {
	font-size: 12px;
	color: #067FC3;
	text-decoration: none;
}

A.a3 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"
	font-size: 12px;
	color: #717F5F;
	text-decoration: none;
}
A.a3:hover {
        font-family: "Verdana", "Arial", "Helvetica", "sans-serif"
	font-size: 12px;
	color: #FF3300;
	text-decoration: none;
}
A.a4 {
	font-size: 12px;
	text-decoration: none;
	color: #FD8107;
        font-weight: bold;
}
A.a4:hover {
	font-size: 12px;
	text-decoration: none
	color: #1176AD;
        font-weight: bold;

}
.date {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	line-height: 22px;
	color: #E57B0A;
	text-decoration: none;
}
.datea {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	line-height: 22px;
	color: #F65354;
	text-decoration: none;
}
.en {
	font-family: "Arial";
	font-size: 11px;
	text-decoration: none;
}
.cen {
	font-size: 14px;
	font-weight: bold;
	color: 146900;
	text-decoration: none;
}
.d10 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	color: #C33301;
	text-decoration: none;
}

.t9 {
	font-size: 9px;
	text-decoration: none;
}
.t10 {
	font-size: 10px;
	text-decoration: none;
}
.t11 {  font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	text-decoration: none;
}
.t14 {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.form2 {
	font-size: 12px;
	color: #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #efefef;
	border-bottom-color: #efefef;
	border-left-color: #999999;	
}

.a14
{
	font-size:14px;
	text-decoration: none;
}
.a14:hover
{
	font-size:14px;
	text-decoration:underline;
}

.ipt2 {BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #efefef 1px solid; HEIGHT: 18px}
.button  {padding: 2 0 2 0;font-size:12px;height:20;background-color:#ECF3E7;border-width:1;color:#616161}
.p9orange {
	FONT-SIZE: 10px;FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.p9black {
	FONT-SIZE: 12px; COLOR: #948A80; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}

/* style*/
.fil {filter:dropshadow(color=#820465,offx=1,offy=1);}
.fil2 {filter:dropshadow(color=#ffffff,offx=1,offy=1);}

/*Ê×Ò³loading*/

#nxint{height:25px;margin-left:4px;margin-top:2px; width:256px; background-color:#f8f8f8; padding:2px; font-size:13px; font-weight:200}
