BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: url(../images/login_05.gif) #faf8e3 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #0b7f8e; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	CURSOR: pointer; COLOR: #2d5d13
}
A:link {
	CURSOR: pointer; COLOR: #2d5d13
}
A:link {
	CURSOR: pointer; COLOR: #2d5d13
}
A:hover {
	CURSOR: pointer; COLOR: #2d5d13
}
A:link {
	COLOR: #2d5d13; TEXT-DECORATION: none
}
A:visited {
	COLOR: #2d5d13; TEXT-DECORATION: none
}
A:hover {
	COLOR: #2d5d13; TEXT-DECORATION: underline
}
A:active {
	COLOR: #2d5d13; TEXT-DECORATION: underline
}
INPUT {
	BORDER-RIGHT: #6b7d53 1px solid; BORDER-TOP: #6b7d53 1px solid; BACKGROUND: url(../images/main_36.gif) #ffffff repeat-x; BORDER-LEFT: #6b7d53 1px solid; COLOR: #6b7d53; BORDER-BOTTOM: #6b7d53 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #6b7d53 1px solid; BORDER-TOP: #6b7d53 1px solid; BACKGROUND: url(../images/main_36.gif) #f5f5f5 repeat-x; BORDER-LEFT: #6b7d53 1px solid; COLOR: #6b7d53; BORDER-BOTTOM: #6b7d53 1px solid
}
.no_input {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.login {
	PADDING-LEFT: 60px; BACKGROUND: url(../images/login_11.gif) no-repeat
}
.login P {
	MARGIN: 5px
}
.login P LABEL {
	MARGIN-RIGHT: 10px
}
.login P INPUT {
	WIDTH: 200px
}
.login DIV {
	MARGIN-LEFT: 62px
}
