TD {
	FONT-SIZE: 12px
}
P {
	FONT-SIZE: 12px
}
LI {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.C01 {
	COLOR: #ffffff
}
.L13 {
	LINE-HEIGHT: 130%
}
.L15 {
	LINE-HEIGHT: 150%
}
.L17 {
	LINE-HEIGHT: 170%
}
.F7 {
	FONT-SIZE: 7px
}
.F16 {
	FONT-SIZE: 14.8px
}
.s01 {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #ffffff
}
.s02 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #cccccc
}
.s03 {
	BORDER-RIGHT: #939598 1px solid; BORDER-TOP: #939598 1px solid; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: #939598 1px solid; BORDER-BOTTOM: #939598 1px solid; BACKGROUND-COLOR: #ffffff
}

A.a01:link {
	COLOR: #004000; TEXT-DECORATION: none;font-size: 12px
}
A.a01:visited {
	COLOR: #004000; TEXT-DECORATION: none;font-size: 12px
}
A.a01:active {
	COLOR: #ff7510; TEXT-DECORATION: none;font-size: 12px
}
A.a01:hover {
	COLOR: #ff7510; TEXT-DECORATION: none;font-size: 12px
}
A.a02:link {
	COLOR: #e10044; TEXT-DECORATION: none;font-size: 12px
}
A.a02:visited {
	COLOR: #e10044; TEXT-DECORATION: none;font-size: 12px
}
A.a02:active {
	COLOR: #ff7510; TEXT-DECORATION: none;font-size: 12px
}
A.a02:hover {
	COLOR: #ff7510; TEXT-DECORATION: none;font-size: 12px
}
A.a03:link {
	COLOR: #ffffff; TEXT-DECORATION: none;font-size: 12px
}
A.a03:visited {
	COLOR: #ffffff; TEXT-DECORATION: none;font-size: 12px
}
A.a03:active {
	COLOR: #ffff00; TEXT-DECORATION: none;font-size: 12px
}
A.a03:hover {
	COLOR: #ffff00; TEXT-DECORATION: none;font-size: 12px
}
A.a04:link {
	COLOR: #6b6d6b;font-size: 12px
}
A.a04:visited {
	COLOR: #6b6d6b;font-size: 12px
}
A.a04:active {
	COLOR: #ff7510; TEXT-DECORATION: none;font-size: 12px
}
A.a04:hover {
	COLOR: #ff7510; TEXT-DECORATION: none;font-size: 12px
}
.b01 {
	COLOR: #2969ad
}
.b02 {
	COLOR: #e10044
}
.b03 {
	COLOR: #6b6d6b
}
.b04 {
	COLOR: #109610
}
.bg01 {
	BACKGROUND-COLOR: #3986ce
}
.bg02 {
	BACKGROUND-COLOR: #effbff
}
.bg03 {
	BACKGROUND-COLOR: #e8e8e8
}
#mydown {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
#mydown1 {
	LEFT: 0px; VISIBILITY: hidden; WIDTH: 100px; POSITION: absolute; TOP: 0px; HEIGHT: 240px
}
#mydownnew {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
#mydown2 {
	LEFT: 0px; VISIBILITY: hidden; WIDTH: 100px; POSITION: absolute; TOP: 0px; HEIGHT: 240px
}

.button { color:#000000; background-color: #000000; font-size: 12px; height: 22px; border: 1px #F0F0F0 solid; padding-top: 2px; padding-left: 2px; padding-right: 2px; background-image: url(bg01.gif); cursor: default}

INPUT.face {BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #FFFFFF; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; HEIGHT: 20px; FONT-VARIANT: normal}
INPUT.menu {BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #dfe8e0; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; HEIGHT: 20px; FONT-VARIANT: normal}
SELECT.face {BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; HEIGHT: 20px; FONT-VARIANT: normal}
TEXTAREA.face {BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-VARIANT: normal}

a.mails:link{ font-family: "宋体"; font-size: 12px; filter:dropshadow(color=#FFFFFF,offx=1,offy=1);color:#8c8e8c; TEXT-DECORATION: none}
a.mails:visited{ font-family: "宋体"; font-size: 12px; filter:dropshadow(color=#FFFFFF,offx=1,offy=1);color:#8c8e8c; TEXT-DECORATION: none}
a.mails:active{ font-family: "宋体"; font-size: 12px; filter:dropshadow(color=#FFFFFF,offx=1,offy=1);color:#8c8e8c; TEXT-DECORATION: none}
a.mails:hover{ font-family: "宋体"; font-size: 12px; filter:dropshadow(color=#FFFFFF,offx=1,offy=1);color:#FF0000; TEXT-DECORATION: none}
a.menu:link {color: #5f5f5f;} /* 未访问的链接 */
a.menu:visited {color: #5f5f5f;} /* 已访问的链接 */
a.menu:hover{color: #ff0000;} /* 鼠标在链接上 */ 
a.menu:active {color: #0000ff;} /* 点击激活链接 */
/*********通用顶部信息栏目***********/
#menu{
	clear:both;
	width:980px;
	margin:auto;	
	margin-top:-50px;
}
/******************************************************************************************
网站LOGO与小图片菜单
******************************************************************************************/
#header{
	clear:both;
	width:980px;
	margin:auto;	
	margin-top:7px;
}
#header .logo{
	float:left;
	padding-top:0px;
	padding-bottom:7px;
}
#header .ico_guide{
	float:right;
	width:60px;
	border-right:1px ;
	margin-right:4px;
	margin-top:10px;
}
#header .ico_guide a{
	width:70px;
	text-align:center;
	padding-top:54px;
	display:block;
}
#header .ico_guide a{
	font-weight:bold;
}
#header .fyad{
	float:right;
	padding-top:0px;
	padding-bottom:7px;
}
#header .help{
	background:url(help.gif) no-repeat top center;
}
#header .book{
	background:url(book.jpg) no-repeat top center;
}
#header .news{
	background:url(news.jpg) no-repeat top center;
}
#header .magazine{
	background:url(magazine.gif) no-repeat top center;
}
#header .xxml{
	background:url(xxml.jpg) no-repeat top center;
}
#header .city{
	background:url(city.jpg) no-repeat top center;
}
#header .qymp{
	background:url(qymp.gif) no-repeat top center;
}
#header .sjdp{
	background:url(sjdp.jpg) no-repeat top center;
}
#header .fbxx{
	background:url(fbxx.gif) no-repeat top center;
}
#header .web{
	background:url(web.jpg) no-repeat top center;
}
#header .user{
	background:url(user.jpg) no-repeat top center;
}
#header .vipnews{
	background:url(vipnews.jpg) no-repeat top center;
}

/******************黄金季节***************************************************/
/******通用*******/
.ty1{ border:#FFA602 1px solid;}
.ty2 {background-color:#FDF8DB;}
.ty3 {background-image:url(titlebg.png);}

/* pad-bottom */ 
.pad {padding: 0px 0px 2px; 
     color: #337303;
     }
	 .Sec11 {
	CURSOR: hand;
	text-decoration: underline;
	background-image: url(titlebg1.png);
}
.Sec11 A {
COLOR: #000088; font-size:14px;font-weight:900;letter-spacing:2px; margin-top:5px;
}
.sec22 {
	CURSOR: hand;
	BORDER-RIGHT: #92ba40 0px solid; BORDER-TOP: #92ba3f 0px solid; BORDER-LEFT: #92ba40 0px solid; BORDER-BOTTOM: #fff 0px solid; BACKGROUND-COLOR: #fff
}
.Sec22 {
	background-color: #fff;
	background-image: url(titlebg2.png);
	background-repeat: repeat-x;
}
.Sec22 A {
	COLOR: #ffffff; font-size:14px;font-weight:900;letter-spacing:2px;margin-top:5px;
}
.Sec22 A:hover{ COLOR: #000088; font-size:14px;font-weight:900;letter-spacing:2px;margin-top:5px;}
/********114********/
.articleline114{height:16px;margin-left:6px;margin-top:3px; width:190px; background-color:#FFF4E3; padding:2px; font-size:12px;float:left}
.articleline114sy{height:16px;margin-left:3px;margin-top:3px; width:190px; background-color:#FDF8DB; padding:4px; font-size:13px;float:left}

/********新闻标签********/
.sec11 {BORDER-RIGHT: #C5E1FE 1px solid; BORDER-TOP: #C5E1FE 1px solid; BORDER-LEFT: #C5E1FE 1px solid; CURSOR: hand; COLOR: #01499A; BORDER-BOTTOM: #C5E1FE 1px solid; BACKGROUND-COLOR: #ffffff}
.sec21 {BORDER-RIGHT: #C5E1FE 1px solid; BORDER-TOP: #C5E1FE 1px solid; FONT-WEIGHT: 800;color:#01499A; BORDER-LEFT: #C5E1FE 1px solid;BORDER-BOTTOM: #C5E1FE 1px solid; CURSOR: hand; BACKGROUND-COLOR: #E6EEF7;BACKGROUND:url('titlebg.png') no-repeat}
.sectitlebg {background:url('titlebg1.png')}

/***************************************************************************/
/*****信息标题列表****/
.infoft1{margin-top:2px;margin-left:5px;font-size:12px;color:#555555;letter-spacing:1px;background-image: url(linebg.gif);height:22px;}
.infoft2{background-image: url('title.gif');width: 90; height: 24; text-align: center;padding-top: 3px;}
.infoft4{margin-top:2px;margin-left:5px;font-size:12px;color:#555555;letter-spacing:1px;height:20px;}
.stock {BORDER-RIGHT: #B9B9B9 1px solid; BORDER-TOP: #B9B9B9 1px solid; BORDER-LEFT: #B9B9B9 1px solid; BORDER-BOTTOM: #B9B9B9 1px solid; 
}
.shadow1 {BORDER-RIGHT: #efefef 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #efefef 0px solid; PADDING-LEFT: 0px;PADDING-BOTTOM: 0px;BORDER-LEFT: #efefef 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #efefef 3px solid; width:380px;margin-top:6px;margin-left: auto;margin-right: auto;}
.td2 {border-bottom:1px solid #CCCCCC; height:32; border-left-width:1px; border-right-width:1px; background-color:#F9F9F9; border-top-width:1px;background-image: url('titlebg.png')}


/****下部指南回复留言*****/
.shadow2 {BORDER-RIGHT: #efefef 3px solid; PADDING-RIGHT: 0px; BORDER-TOP: #efefef 0px solid; PADDING-LEFT: 0px;PADDING-BOTTOM: 0px;BORDER-LEFT: #efefef 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #efefef 3px solid; width:300px;margin-top:6px;margin-left: auto;margin-right: auto;}
.shadow3 {width: 90; height: 24; text-align:center; padding-top:3px; background-image:url('titlebg.png')}

/******便民*******/
.articleline4{height:16px;margin-left:6px;margin-top:3px; width:55px; background-color:#f8f8f8; padding:2px; font-size:12px;float:left}
.articleline5{background-color:#FDF8DB;}
/******店企*******/
.dq1{ border:#FFA602 1px solid;}
.dq2 {background-color:#FDF8DB;}
.dq3 {background-image:url('product_bg.gif')}
.dq4 {background-image:url(titlebg.png);}

/************************************首页搜索***********************************************/
.dragTable .middle{
	padding:6px 1px 4px 7px;
	height:50px;
	line-height:20px;
	border:1px solid #FFA602;
	border-top:0px solid #FFA602;
}
#Index_Search .Main .dragTable .middle{
	background:url(search_logo.gif) no-repeat 20px 5px;
	padding-left:80px;
}
#Index_Search{
	margin-top:1px;
}
#Index_Search .dragTable .middle{
	border-top:#FFA602 1px solid;

}

/*********************************图片信息滑动门特效标题样式*******************************/
.bmenu{
	width:140px;
	height:19px;
	background:url(blog_mu.gif);
	margin-right:5px;
	text-align:left;
	padding-top:11px;
}
.bmenu span{
	font-size:13px;
	color:#707070;
	font-weight:bold;
	cursor:hand;
}
.bmenu .a1{
	margin-left:10px;
	color:#990000;
}
.bmenu .a2{
	margin-left:5px;
}
.rmenu{
	margin-right:5px;
}
.rmenu .LL{
	background:url(m_l.gif);
	width:5px;
	height:30px;
}
.rmenu .RR{
	background:url(m_r.gif);
	width:5px;
}
.rmenu .CC{
	background:url(m_c.gif);	
	font-size:13px;
	font-weight:bold;
	color:#707070;
}
.rmenu .CC div{
	height:30px;
	padding-top:10px;
	padding-left:0px;
	padding-right:7px;
	margin-right:4px;
	margin-left:2px;
	float:left;
	letter-spacing:2px;
	background:url(m_ch.gif) no-repeat right;
	cursor:hand;
}
.rmenu .CC div.f{
	background:url();
	letter-spacing:0px;
	margin-right:0px;
}

.rmenu .CC div.ch{
	color:#990000;
}
.dragTable .head{
	background:#ccc url(head_bg.gif) no-repeat right;
	height:30px;
	padding-top:0px;
	border:0px #FFF solid;
	border-bottom:0px #C6EBEE solid;
}

.dragTable .head .L{
	background:url(hd_a1.gif);
	width:30px;
	height:30px;
	margin-left:0px;
	float:left;
}



.dragTable .TAG{
	float:left;
	color:#247384;
	font-weight:bold;
	padding:9px 5px 0 0px;
	height:21px;
	font-size:13px;
}
/****************/

.style1 {color: #FF0000;}